VITE_FIREBASE_API_KEY=AIzaSyAOjoJytRQxBgVBA-aqpsKj6vbfxtydguE
VITE_FIREBASE_AUTH_DOMAIN=photoluv-dbe2e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=photoluv-dbe2e
VITE_FIREBASE_STORAGE_BUCKET=photoluv-dbe2e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=317098304119
VITE_FIREBASE_APP_ID=1:317098304119:web:6e5df681a77b41f3be9c72
